<div class="page-container">
    <div class="card">
        <h2>Update Floor Details</h2>

        <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

        <form (ngSubmit)="updateFloor()">

            <!-- Dropdown to select a building -->
            <select class="form-control" id="buildingSelector" [(ngModel)]="floor.buildingFinderId" (ngModelChange)="onBuildingChange()" name="buildingFinderId" required>
                <option value="" disabled selected>Select a Building</option>
                <option *ngFor="let building of listBuildings" [value]="building.buildingCode">
                    {{ building.buildingCode }}
                </option>
            </select>

            <!-- Dropdown to select a floor within the selected building -->
            <select class="form-control" id="floorSelector" [(ngModel)]="floor.floorNumber" name="floorNumber" required>
                <option value="" disabled selected>Select a Floor</option>
                <option *ngFor="let fl of filteredFloors" [value]="fl.floorNumber">
                    {{ fl.floorNumber }}
                </option>
            </select>

            <!-- Fields to update the floor details -->
            <div class="form-group">
                <label for="floorDescription">Floor Description:</label>
                <textarea class="form-control" id="floorDescription" [(ngModel)]="floor.floorDescription" name="floorDescription"></textarea>
            </div>

            <div class="form-group">
                <label for="width">Width:</label>
                <input type="number" class="form-control" id="width" [(ngModel)]="floor.floorMaxDimensions.width" name="width">
                <label for="length">Length:</label>
                <input type="number" class="form-control" id="length" [(ngModel)]="floor.floorMaxDimensions.length" name="length">
            </div>

            <div class="form-group" *ngIf="addFloorMap">
                <label for="floorMap">Floor Map:</label>
                <input type="file" class="form-control" id="floorMap" (change)="onFileSelected($event)" name="floorMap">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="addFloorMap" [(ngModel)]="addFloorMap" name="addFloorMap">
                <label class="form-check-label" for="addFloorMap">Update Floor Map</label>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-submit">Update Floor</button>
              <button type="button" class="btn-back" (click)="goBack()">Back</button>
            </div>
        </form>
    </div>
</div>
