<div class="task-page">
  <div class="card">
    <h2>Select a Module</h2>
    <div class="modules-container">
      <div class="module-card" (click)="navigateTo(module1Path)">
        <h3>Transport Task</h3>
        <p>Create Transport Task</p>
      </div>
      <div class="module-card" (click)="navigateTo(module2Path)">
        <h3>Surveillance Task</h3>
        <p>Create Surveillance Task</p>
      </div>
      <div class="module-card" (click)="navigateTo(module3Path)">
        <h3>Requested Tasks</h3>
        <p>Approve or reject Requested Tasks</p>
      </div>
      <div class="module-card" (click)="navigateTo(module8Path)">
        <h3>Assign Robots</h3>
        <p>Assign a robot to a submitted task</p>
      </div>
      <div class="module-card" (click)="navigateTo(module4Path)">
        <h3>Tasks List</h3>
        <p>Search tasks by state, type of device or user</p>
      </div>
      <div class="module-card" (click)="navigateTo(module5Path)">
        <h3>Planning of the path</h3>
        <p>Best Path</p>
      </div>
      <div class="module-card" (click)="navigateTo(module6Path)">
        <h3>Planning of the sequence for the execution of tasks</h3>
        <p>Best sequence path for the execution of tasks</p>
      </div>
      <div class="module-card" (click)="navigateTo(module7Path)">
        <h3>Go Back</h3>
      </div>
    </div>
  </div>
</div>
