<div class="page-container">
  <div class="card">
    <h2>Create Transport Task</h2>
    <form (ngSubmit)="createTransportTask()">

      <div class="form-group">
        <label for="name">Task Name:</label>
        <input type="text" id="name" [(ngModel)]="task.name" name="name">
      </div>
      <!-- Description -->
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="description" [(ngModel)]="task.Description" name="description">
      </div>

      <!-- From Location -->
      <div class="form-group">
        <label>From Location:</label>
        <label for="fromBuilding">Select Building:</label>
        <select id="fromBuilding" [(ngModel)]="selectedFromBuilding" (change)="onFromBuildingSelected()" [ngModelOptions]="{standalone: true}" [disabled]="fromBuildings.length === 0">
          <option *ngFor="let building of fromBuildings" [value]="building.buildingCode.toString()">{{ building.buildingName }}</option>
        </select>
        <label for="fromFloorNumber">Select Floor:</label>
        <select id="fromFloorNumber" [(ngModel)]="task.FromLocation.Room" [ngModelOptions]="{standalone: true}" [disabled]="selectedFromBuilding === undefined || fromFloors.length === 0">
          <option *ngFor="let floor of fromFloors" [value]="floor.floorNumber">{{ floor.floorNumber }}</option>
        </select>
        <input type="number" placeholder="X Coordinate" [(ngModel)]="task.FromLocation.X" name="fromX" [ngModelOptions]="{standalone: true}">
        <input type="number" placeholder="Y Coordinate" [(ngModel)]="task.FromLocation.Y" name="fromY" [ngModelOptions]="{standalone: true}">
        <div *ngIf="fromBuildings.length === 0" class="alert alert-warning">No buildings available.</div>
        <div *ngIf="selectedFromBuilding !== '' && fromFloors.length === 0" class="alert alert-warning">No floors available for the selected building.</div>
      </div>

      <!-- To Location -->
      <div class="form-group">
        <label>To Location:</label>
        <label for="toBuilding">Select Building:</label>
        <select id="toBuilding" [(ngModel)]="selectedToBuilding" (change)="onToBuildingSelected()" [ngModelOptions]="{standalone: true}" [disabled]="toBuildings.length === 0">
          <option *ngFor="let building of toBuildings" [value]="building.buildingCode">{{ building.buildingName }}</option>
        </select>
        <label for="toFloorNumber">Select Floor:</label>
        <select id="toFloorNumber" [(ngModel)]="task.ToLocation.Room" [ngModelOptions]="{standalone: true}" [disabled]="selectedToBuilding === undefined || toFloors.length === 0">
          <option *ngFor="let floor of toFloors" [value]="floor.floorNumber">{{ floor.floorNumber }}</option>
        </select>
        <input type="number" placeholder="X Coordinate" [(ngModel)]="task.ToLocation.X" name="fromX" [ngModelOptions]="{standalone: true}">
        <input type="number" placeholder="Y Coordinate" [(ngModel)]="task.ToLocation.Y" name="fromY" [ngModelOptions]="{standalone: true}">
        <div *ngIf="toBuildings.length === 0" class="alert alert-warning">No buildings available.</div>
        <div *ngIf="selectedToBuilding !== '' && toFloors.length === 0" class="alert alert-warning">No floors available for the selected building.</div>
      </div>


      <!-- Contact Start -->
      <div class="form-group">
        <label for="contactStart">Contact Start:</label>
        <input type="text" id="contactStart" [(ngModel)]="task.ContactStart" name="contactStart">
      </div>

      <!-- Contact End -->
      <div class="form-group">
        <label for="contactEnd">Contact End:</label>
        <input type="text" id="contactEnd" [(ngModel)]="task.ContactEnd" name="contactEnd">
      </div>

      <!-- User -->
      <div class="form-group">
        <label for="user">User:</label>
        <input type="text" id="user" [(ngModel)]="task.User" name="user"[readonly]="isReadOnly" required>
      </div>

      <!-- Form Actions -->
      <div class="form-actions">
        <button type="submit" class="btn-submit">Create Task</button>
        <button type="button" class="btn-submit" (click)="goBack()">Back</button>
      </div>
    </form>

    <!-- Success and Error Messages -->
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>
</div>
