
<div class="page-container">
  <div class="card">
    <h2>Create New Elevator</h2>

    <div class="form-group">
      <label for="building">Select Building:</label>
      <select id="building" [(ngModel)]="selectedBuilding" (change)="onBuildingSelected()">
        <option *ngFor="let building of buildings" [value]="building.buildingCode">{{ building.buildingName }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="floors">Select Floors:</label>
      <div *ngIf="floors.length > 0">
        <label *ngFor="let floor of floors">
          <input type="checkbox" [(ngModel)]="selectedFloors[floor.floorNumber]" [value]="floor.floorNumber"> {{ floor.floorNumber }}
        </label>
      </div>
      <div *ngIf="floors.length === 0">No floors available for the selected building.</div>
    </div>

    <div class="form-group">
      <label for="elevatorLocationX">Elevator Location X:</label>
      <input type="number" id="elevatorLocationX" [(ngModel)]="elevatorLocationX" name="elevatorLocationX" required>
    </div>

    <div class="form-group">
      <label for="elevatorLocationY">Elevator Location Y:</label>
      <input type="number" id="elevatorLocationY" [(ngModel)]="elevatorLocationY" name="elevatorLocationY" required>
    </div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <div class="form-actions">
      <button type="submit" class="btn-submit" (click)="createElevator()">Create Elevator</button>
      <button type="button" class="btn-back" (click)="goBack()">Back</button>
    </div>


  </div>
</div>
