<div class="page-selection-container">
  <div class="card">
    <h2>Select a Building Operation</h2>
    <div class="button-container">
      <button (click)="navigateToPage(1)">Create Building</button>
      <button (click)="navigateToPage(2)">Edit Building</button>
      <button (click)="navigateToPage(3)">View All Buildings</button>
      <button (click)="navigateToPage(4)">Find Building by Parameter</button>
      <button (click)="navigateToPage(5)">Go Back</button>
    </div>
  </div>
</div>
ß
