<div class="page-selection-container">
  <div class="card">
    <h2>Select a Building Operation</h2>
    <div class="button-container">
      <button (click)="navigateToPage(1)">Create Passageway</button>
      <button (click)="navigateToPage(2)">Edit Passageway</button>
      <button (click)="navigateToPage(3)">List Passageways Between Two Buildings</button>
      <button (click)="navigateToPage(4)">List Floors from Building with Passageway to another Buildings</button>
      <button (click)="navigateToPage(5)">Go Back</button>
    </div>
  </div>
</div>
