<div class="page-selection-container">
  <div class="card">
    <h2>Select a option for the Floor Management </h2>
    <div class="button-container">
      <button (click)="navigateToPage(1)">Create Floor</button>
      <button (click)="navigateToPage(2)">Update Floor</button>
      <button (click)="navigateToPage(3)">Update Map Floor</button>
      <button (click)="navigateToPage(4)">Get Floors For Building</button>
      <button (click)="navigateToPage(5)">Get Back</button>
    </div>
  </div>
</div>
